In [4]:
from zoo import hours
hours()

Open 9-5 daily

In [5]:
import zoo as menagerie
menagerie.hours()

Open 9-5 daily

In [7]:
import sqlite3

conn = sqlite3.connect('books.db')

cursor = conn.cursor()
cursor.execute('''
    CREATE TABLE IF NOT EXISTS books (
        title TEXT,
        author TEXT,
        year INTEGER )''')

conn.commit()

cursor.execute('SELECT title FROM books ORDER BY title ASC')
titles = cursor.fetchall()
for title in titles:
    print(title[0])
    
conn.close()